<script type="text/javascript" charset="utf-8">
  var tweets = [];
  var max_tweet = 0;
  
  function display_next_tweet() {
    if (tweets.length) {
      tweet = tweets.pop();
      tweet_li = $("<li class='tweet'></li>")
        .html(tweets[0].formatted)
        .appendTo("#tweets")
        .opacity(0);
      tweet_li.onload(function() {
        $(this).css({top: -$(this).height()})
          .opacity(100)
          .animate({top: 0});
      });
      setTimeout(display_next_tweet, 1500);
    }
    else {
      setTimeout(get_more_tweets, 1500);
    }
  }
  
  function get_more_tweets() {
    $.getJSON('/tweets?since_id=' + max_tweet, function(server_tweets) {
      tweets = server_tweets;
      max_tweet = tweets[0].id;
      display_next_tweet();
    });
  }
  
  function insert_snaptweet_images(text) {
    return text.replace(/(http:\/\/snaptweet.com\/\w+)/g, '<a href="$1"><img src="$1.jpg" alt=""/></a>');
  }
  
  $(function() {
    get_more_tweets();
  });
  
</script>

<li id="tweets">
  
</li>