<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title %></title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="description" />
  <meta name="keywords" content="keywords" />
  
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
  
  <!--[if IE 7]>
  <link rel="stylesheet" href="stylesheets/ie7.css" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
  
</head>
<body id="<%= @body_id %>">
  <div id="page">
    <div id="header">
      <div id="logo">
        
      </div>
      <ul id="nav">
        <li id="t-home"><a href="#">Home</a></li>
      </ul>
    </div>

    <div id="content">
    </div>

    <div id="footer">
      &copy; 2008
    </div>    
  </div>
</body>
</html>