<p><i>Sorry, we're still working out some kinks before the show starts, folks.</i></p>

<ul id="tweets"></ul>
<p id='more'>
  For more of our tweets during the event, check out 
  <a href='http://search.twitter.com/search?q=from%3Awbruce+OR+from%3Adamon+%23frth'>Twitter Search</a>.
</p>