<p>Here's the latest; reply to <a href='http://twitter.com/wbruce'>@wbruce</a> or <a href='http://twitter.com/wbruce'>@damon</a>.</p>
<ul id="tweets"></ul>
<p id='more'>
  For more of our tweets during the event, check out 
  <a href='http://search.twitter.com/search?q=from%3Awbruce+OR+from%3Adamon+%23frth'>Twitter Search</a>.
</p>