<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= @title %></title>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="robots" content="index,follow" />
  <meta name="description" content="Follow live tweets from our friends invited to the Front Row to History on election night 2008" />
  <meta name="keywords" content="twitter, obama, front row to history, election" />
  
  <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8" />
  
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
  
  <!--[if IE 7]>
  <link rel="stylesheet" href="stylesheets/ie7.css" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.scrollbox.js" type="text/javascript" charset="utf-8"></script>  
  <script src="/javascripts/jquery.thumbs.js" type="text/javascript" charset="utf-8"></script>  
  <script src="/javascripts/master.js" type="text/javascript" charset="utf-8"></script>  
</head>
<body id="<%= @body_id %>">
  <div id='about'>
    <p>
      <a href='http://twitter.com/wbruce'>Bruce Williams</a> and <a href='http://twitter.com/damon'>Damon Clinkscales</a> live-tweet from
      the Obama/Biden campaign's election night festivities.
    </p>
    <p>
      Bruce was honored to be selected by the campaign for
      <a href='http://www.youtube.com/watch?v=O8Rj-XStFf8'>Front Row to History</a>,
      and thought Damon might enjoy the trip.
    </p>
    <p id='go'><a href="http://barackobama.com" target="_new"><img src="/images/go-obama.jpg" /></a></p>
    <p id='credits'>
      App by Bruce Williams, Damon Clinkscales, and the fantastic <a href='http://metaatem.net/'>Erik Kastner</a>. Inspired by <a href='http://twistori.com'>Twistori</a>, from which all good (and bad) things flow (thanks Amy &amp; Thomas!), and <a href='http://election.twitter.com'>election.twitter.com</a>.
    </p>
  </div>
  <div id="page">
    <h1><img src="/images/tweet-row-to-history.gif" alt="Tweet Row to History" /></h1>
    <%= yield %>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-2529202-2");
  pageTracker._trackPageview();
  </script>
</body>
</html>
