/*
Colors:
*/

/* Main */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  text-align: center;
  color: #4B4742;
  background: url(/images/body.jpg) top left repeat-x;
  background-color: #1A538C;
  margin: 0;
  text-align: left;
  color: #A0BFFA;
}

h1 {
  padding: 0 18px;
  width: 28.571em; /* 400.0px at 14px base */
  text-align: center;
}
h1 img {
  width: 22.000em; /* 308.0px at 14px base */
}

a, a:link, a:visited { text-decoration: underline; font-weight: bold; color: #fff; }

#more { display: none; }

#about {
  position: absolute;
  top: 440px;
  left: 32px;
  width: 300px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Helvetica Neue", "Verdana", "Helvetica", sans-serif;
}

#go { font-family:Georgia,"Times New Roman",serif;  font-size: 26px; margin-top: 32px; }

#about p {
  margin-bottom: 18px;
}

#page {
  margin: 0;
  background: url(/images/logo.jpg) top left no-repeat;
  padding: 3.571em 0 0 360px;
  font-size: 87.5%; /* ~14px */
  line-height: 1.75em;
  min-height: 400px;
/*  background: white;*/
}

#content {
  clear: both;
}

.gravatar {
  float: left;
  margin: 0 9px 9px 0;
}
.tweet p { padding-left: 89px; }

#footer {
  clear: both;
  font-size: 75%;
  padding-left: 2.5em;
  color: #333;
}

/* Repeated elements */
#nav {
  float: left;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
}

#tweets {
  width: 100%;
  padding-top: 32px;
  list-style: none;
}

.tweet a, .tweet a:visited { color: #fff; }

.tweet {
  color: #B9C6FF;
  background: #275384 url(/images/box.jpg) bottom left repeat-x;
  position: relative;
  padding: 18px;
  width: 550px;
  border-top: 1px #69768C solid;
  margin-bottom: 9px;
  text-align: left;
  min-height: 90px;
}

/* Clear fix elements */
#page:after, 
#column:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#page:after, 
#column:after {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html #page,
* html #column {height: 1%;}
#page, 
#column {
  display: block;
}
/* End hide from IE-mac */
