/*
Colors:
*/

/* Main */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  text-align: center;
  color: #4B4742;
  background: #1A538C;
  margin: 2.75em 0.4em 0 0.4em;
}

a { text-decoration: underline; font-weight: bold; }
a:link { color: #c6a952; }
a:hover { color: #c6a952; }
a:visited { color: #c6a952; }

#page {
  width: 80%;
  margin: 0 auto;
  font-size: 87.5%; /* ~14px */
  line-height: 1.75em;
/*  background: white;*/
}

#content {
  clear: both;
}

#footer {
  clear: both;
  font-size: 75%;
  padding-left: 2.5em;
  color: #333;
}

/* Repeated elements */
#nav {
  float: left;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
}

#tweets {
  width: 100%;
  list-style: none;
}

.tweet a, .tweet a:visited { color: #fff; }

.tweet {
  color: #B9C6FF;
  background: url(/images/box.jpg) bottom left repeat-x;
  position: relative;
  padding: 18px;
  width: 28.571em; /* 400.0px at 14px base */
  border-top: 1px #69768C solid;
  margin-bottom: 9px;
  text-align: left;
}

/* Clear fix elements */
#page:after, 
#column:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#page:after, 
#column:after {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html #page,
* html #column {height: 1%;}
#page, 
#column {
  display: block;
}
/* End hide from IE-mac */
